extends layout

block content
  h1= title
  div.center.row
    button.btn(onClick="location.href='/new-cron'") new
    table
      tr
        th Pattern
        th Room
        th Message
        th Created by
      each val, index in data
        tr
          td #{val[0]}
          td #{val[1].room}
          td #{val[2]}
          td #{val[1].name}
